<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lab7_MVCday1</title>
   </head>
<body>
    <div style = "background:red"> 
        Welcome In Header
    </div>

    @RenderBody();

    <div style="background:yellow">
        Welcome In Footer
    </div>
</body>
</html>
